body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    margin: 0;
}

a {
    text-decoration: none;
}

/* HEADER SECTION*/

.header {
    background-color: #1f2937;
    padding: 20px 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-links {
    display: flex;
    gap: 20px;
}


.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.header-links a,
.welcome-right p {
    color: #e5e7eb;
    font-size: 18px;
}

/* WELCOME SECTION */

.welcome-section {
    background-color: #1f2937;
    padding: 120px 400px;
    display: flex;
    justify-content: space-between;
}

.welcome-right {
    max-width: 500px;
    max-height: 300px;
}

.welcome-left img{
    max-height: 300px;
}

.welcome-main {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    max-width: 400px;
}

.welcome-button {
    padding: 8px 35px;
    border-radius: 8px;
    border: none;
    background-color: #3882F6;
    color: #f9faf8;
    font-size: 14px;
}

/* INFORMATION SECTION */

.information-section {
    display: flex;
    flex-direction: column;
    padding: 0px 400px;
    align-items: center;
}

.information-section h2 {
    margin: 0;
    padding: 70px 0px;
    padding-bottom: 50px;
    font-size: 32px;
    font-weight: 900;
    color: #1f2937;
}

.cards {
    display: flex;
    gap: 40px;
}

.card-item {
    max-width: 200px;
}

.cards img {
    max-width: 200px;
    height: 200px;
    border: 4px solid #3882F6;
    border-radius: 10px;
}

.cards p {
    font-size: 18px;
    color: #1f2937;
    text-align: center;
    margin-bottom: 70px;
}

/* TESTIMONIAL SECTION */

.testimonial {
    background-color: #e5e7eb;
    padding: 0px 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial-top {
    width: 920px;
}

.testimonial-top p {
    margin-top: 80px;
    margin-bottom: 0px;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: 100;
}

.testimonial-bottom {
    width: 920px;
    text-align: end;
}

.testimonial-bottom h3 {
    margin-top: 0px;
    margin-bottom: 50px;
    font-size: 22px;
    font-weight: 900;
}

/* CALL TO ACTION SECTION */

.call-to-action {
    background-color: #3882f6;
    color: white;
    margin: 90px 400px;
    border: none;
    border-radius: 7px;
    display: flex;
    justify-content: space-around;
}

.call-to-action h2, p {
    margin: 0;
}

/* .call-to-action-text  */

.call-to-action-text {
    padding: 30px;
}

.call-to-action button {
    background-color: #3882F6;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    margin: 30px 0px;
    padding: 5px 55px;
}
